@import "./gap.css";
* {
  font-family: "Roboto", sans-serif !important;
}
.card-title {
  padding-top: 20px;
}
#sustenta {
  font-family: "Pacifico", cursive !important;
  margin: 2px;
  padding: 2px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: lightgray;
}
.box {
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  background-color: silver;
  width: calc(
    (100% / 3) - 2rem
  ); /* calco para descontar a margem da largura do box se aumenta a marge tem que ajustar aqui tb */
}
#citacao {
  font-family: cursive;
  font-size: 24px;
  color: blue;
  text-decoration: linen;
}

#bg-nav {
  background-color: lightgreen !important;
}

#jumbotron {
  background-color: lightsteelblue !important;
}
#logo-sustenta {
  width: 75px;
  height: 75px;
}
#navbarSupportedContent {
  letter-spacing: 1px;
  margin: 5px;
  font-size: 26px;
}
#navbarSupportedContent a:hover {
  color: black;
}
#carousel-text h1 p {
  color: black;
}
.progress {
  color: black;
}

.container {
  padding-bottom: var(--gap-small);
  margin: var(--gap-small);
}

#estudo {
  font-size: 72px;
  color: yellowgreen;
}

#botao-estudo {
  text-align: center;
  border: 3px solid black;
  border-radius: 6px;
  transition-duration: 0.4s;
  position: relative;
}

#botao-estudo a {
  text-decoration: none;
  color: #fff;
}

#botao-estudo:hover {
  background-color: #4caf50; /* Green */
}

#news {
  text-align: center;
  background-color: lightsteelblue;
  padding: var(--gap-small);
}
#news a {
  text-decoration: none;
  color: #fff;
}

#logo {
  height: 300.35px;
}
#card-body {
  background-color: gainsboro !important;
}
#card-padding {
  padding: var(--gap-small);
}
#btn:hover {
  background-color: #4caf50; /* Green */
}

#cards {
  padding: var(--gap-small);
}

#video {
  align-content: center;
  margin-top: 50px;
}
#gif-footer {
  width: 100%;
}

.card-sobre {
  padding: 0;
  margin: 0;
}

#card-title {
  font-size: 48px !important;
  color: lightgreen;
}

#card-title img {
  width: 75px;
  height: 75px;
}
#p-card-title {
  font-size: 24px !important;
  color: aliceblue;
}

#p-card-title b {
  font-size: 22px !important;
  color: aqua;
}

#jumbotron-ajuda {
  background-color: white !important;
  margin: 10px;
}

#jumbotron-ajuda h1 {
  color: lightgreen !important;
  text-align: center;
}

#jumbotron-ajuda p {
  justify-content: center;
  text-align: center;
  color: black !important;
  font-size: 32px;
}

.title-card h1,
p {
  justify-content: center;

  text-align: center;
}
.title-card {
  background-color: lightgrey;
}

.title-card p {
  font-size: 26px;
  padding: 20px;
  margin: 20px;
}
#acoes h5 {
  justify-content: center;
  font-size: 48px;
  text-align: center;
}
#acoes li {
  justify-content: center;
  font-size: 36px;
  text-align: center;
  color: #4caf50;
}
#span {
  color: blue;
}
